
<table width="840" height="40" border="0" align="center" cellspacing="0">
  <tr>
    <td width="352" height="35" align="left" valign="middle" bgcolor="#FF0000"> <a  class="logo1" href="index.php?c=index&a=run">Pizzahuts</a></td>
    <td width="285" align="center" valign="middle" bgcolor="#FF0000"><form action="index.php?c=index&a=run&type=search" method="POST" target="_blank">
      <span class="title1">search </span>
      <input name="fname" type="text" value="<!--{echo $fname;}-->"/>
      
        <input type="image" src="data/images/search.png" alt="Submit" align="middle" />
       
    </form></td>
    <td width="72" align="center" valign="middle" bgcolor="#FF0000" ><a class="title1" href="index.php?c=myorder&a=run"> My order</a> </td>
    <td width="58" align="center" valign="middle" bgcolor="#FF0000" ><a class="title1" href=<!--{$loginurl}-->><!--{$loginname}--></a></td>
    <td width="63" align="center" valign="middle" bgcolor="#FF0000"><a href="index.php?c=register&a=run"class="title1">Register </a></td>
  </tr>
</table>
<table width="829"  height="78"border="0" align="center">
  <tr>
    <td width="158" height="42" align="left" valign="top"><a href="index.php?c=index&a=run&number=1&type=setmeal"><img src="data/images/u12_normal.jpg" width="158" height="72" /></a></td>
    <td width="164" height="42" align="left" valign="top"><a href="index.php?c=index&a=run&number=1&type=pizza"><img src="data/images/u4_normal.jpg" width="164" height="72" /></a></td>
    <td width="164" height="42" align="left"valign="top" ><a href="index.php?c=index&a=run&number=1&type=noddle"><img src="data/images/u167_normal.jpg" width="164" height="72" /></a></td>
    <td width="164" height="42" align="left" valign="top"><a href="index.php?c=index&a=run&number=1&type=dissert"><img src="data/images/u180_normal.jpg" width="164" height="72" /></a></td>
    <td width="157" height="42" align="left" valign="top"><a href="index.php?c=index&a=run&number=1&type=snacks"><img src="data/images/u178_normal.jpg" width="160" height="72" /></a></td>
  </tr>
</table>